html {
    background-color: #2a2a2a !important;
}

body {
    background-color: transparent !important;
}

h1 {
    color: #fafafa;
    font-size: 38px;
}

p {
    font-size: 24px;
    color: #eaeaea;
    font-weight: 200;
}

.listContainer {
    margin-top: 200px;
}

.listItem {
    margin-bottom: 10px;
    padding: 25px;
    background-color: #515151;
}
